@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,800;1,200&display=swap');

@import "vars";
@import "mixins";

%container {
  width: 80%;
  padding: 0 10%;
}

%flexDisplay {
  display: flex;
  justify-content: space-between;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  }

html, body { height: 100%}

body {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #fff;
  color:$textColor;
}

a {
  text-decoration: none;
  color:$hrefColor;
  transition: color 600ms ease;
  &:hover {
    color:$hrefColorHover;
  }
}

header {
  @extend %container;
  @extend %flexDisplay;
  align-items: center;
  padding-top: 50px;

  .logo {
    font-size: 48px;
    font-weight: 300;
    color: #454545;
  }

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin-right: 25px;

      .active {
        &::after {
          content:"";
          width:5px;
          height: 5px;
          border-radius: 50%;
          background: $mainColor;
          display: inline-block;
          position: relative;
          top:12px;
          right: 50%
        }
      }

      .fa-search {
        cursor: pointer;
        color: $hrefColor;

        &:hover {
          color: $hrefColorHover;
        }
      }
    }
  }
}

.main {
  @extend %container;
  margin-top: 50px;
  h2 {
    font-size: 36px;
    font-weight: 900;
    color: #000;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 3px;
      background: $mainColor;
      position: absolute;
      bottom:3px;
      left: 0px;
    }
  }

  .intro-text {
    margin-top: 30px;
    font-weight: 300;
  }
}
